.sidebar {
  display: flex;
  align-items: end;
  position: fixed;
  bottom: 0;
  height: auto; /* Full viewport height */
  width: 100%; /* Initial width */
  background-image: linear-gradient(to left, #30cfd0 0%, #330867 100%);
  padding: 1rem;
  padding-top: 2rem;
  transition: height 0.3s ease; /* Transition for width change */
  z-index: 1000; /* Ensure it sits on top of other content */
  border-radius: 15px;
  margin-left: -3%;
  box-shadow: 10px 15px 15px black;
}

.sidebar.closed {
  height: 10%; /* Width when closed */
}

.toggle-btn {
  position: absolute;
  cursor: pointer;
  right: 0rem;
  top: 0rem;
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  border-radius: 50%;
  background-color: rgb(255, 255, 255); 
  z-index: 1001;
}

.sidebar.closed .toggle-btn {
  top: -2rem;
}

.header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.smiley-icon.rotate {
  transform: rotate(360deg);
  color: azure;
}

.title {
  color: white;
  font-weight: medium;
  font-size: 1.25rem;
  transition: opacity 0.2s ease; 
}

.title.hidden {
  opacity: 0;
}

.menu-list {
  margin-left: 100px;
  column-gap: 80px;
  display: flex;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #d1d1d1;
  font-size: 0.875rem;
}

.menu-item:hover {
  background-color: #1a1a1a;
  border-radius: 25px;
}

.menu-item:active {
  background-color: #1a1a1a;
}

.menu-item.gap {
  margin-top: 2rem;
}

.menu-title {
  transition: opacity 0.2s ease; 
}

.menu-title.hidden {
  opacity: 0;
}
