.home-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    position: relative;
    left:230px;
    font-size: 1.25rem;
  }
.calendar{
  display: grid;
  grid-template-columns: repeat(7, 200px);
  grid-template-rows: 50px repeat(5, 100px);
  grid-gap:10px;
}
.week-day{
  color: gray;
  margin-left: 30px;
}
.number{
  padding: 1rem;
  background-color: rgb(50, 50, 88);
  border-radius: 15px;
  box-shadow: 10px 10px black;
}