.home-page {
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
  }
  .calendar {
    margin-bottom: 200px;
  }
  
  .header {
    text-align: center;
    display: flex;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    grid-template-rows: 80px repeat(5, 150px);
    grid-gap: 15px;
}

.day-name, .day {
    padding: 15px;
    border-radius: 15px;
}
.day{
  box-shadow: 10px 10px black;
}
.current-month {
    background-color: #4d479e;
}

.other-month {
    background-color: #4d479e;
    color: #aaa;
}

.btn-calendar {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3c2d80;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-calendar:hover {
  border-color: #f6f6ff;
}
.btn-calendar:focus,
.btn-calendar:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
